$tema-oscuro-validador: null;



.bg-claro-f{
    @include linea-h3(true);
    color: $color-primario;
    h1, h2, h3, h4, h5, h6,a{
        color: $color-primario;
    }
}

.bg-oscuro-f{
    @include linea-h3(false);
    color: white;
    h1, h2, h3, h4, h5, h6,a {
        color: white;
    }
}

h3::after {
    width: 40px;
    height: 3px;
    content:'';
    display: block; 
}





